<ion-header>
  <ion-toolbar>
  
    <ion-buttons *ngIf="!showSearchbar" slot="start">
   
     
   
   
      <ion-back-button   [icon]="home" defaultHref="" [routerLink]="[  '../folder/Outbox' ]"></ion-back-button>
    </ion-buttons>
    
    <ion-searchbar  (ionChange)="Buscar($event)"  debounce="1000"*ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText"  (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!showSearchbar" >
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">

          <form [formGroup]="tasksfiltro">
          <ion-select style="margin-left: 2px;margin-right: 15px;" interface="action-sheet" okText="Okay" formControlName="orden"
          cancelText="Cancelar" placeholder="mas nuevos" autocapitalize="true" auto-grow="true" 

          (ionChange)="this.carga()">
          <ion-select-option value="new">ultimos añadidos</ion-select-option>
          <ion-select-option value="old">mas antiguos</ion-select-option>
          <ion-select-option value="price1">Precio mas alto</ion-select-option>
          <ion-select-option value="price2">Precio mas bajo</ion-select-option>
          <ion-select-option value="top">Mas vendidos</ion-select-option>
        </ion-select>
          </form>



        </span>
      </ion-button>
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    
      <ng-container *ngIf="this.isAuth">
        <ion-button style="width: 56px;" [routerLink]="[ '../cart' ]" routerDirection="root"  routerLinkActive="selected">
          <ion-icon slot="icon-only" name="cart"></ion-icon>
          <span style="color: rgb(235, 111, 53); font-size: x-small;margin-bottom: 15px;background-color: rgb(253, 214, 155);background-size: 0.5px;" class="badge badge-light">{{this.nProductosCart}}</span>
        </ion-button>   
    </ng-container>  
    <ng-container *ngIf="!this.isAuth">
      <ion-button style="width: 56px;" [routerLink]="[ '../login' ]" routerDirection="root"  routerLinkActive="selected">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
        <span style="color: rgb(0, 0, 0); font-size: x-small;margin-bottom: 15px;background-color: rgb(253, 214, 155);background-size: 0.5px;" class="badge badge-light"></span>
      </ion-button>   
  </ng-container>     
    
  
 
      
    
    
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
 
  <ion-segment scrollable (ionChange)="segmentChanged($event)"  [(ngModel)]="segmentModel"   value="orden">
    <ion-segment-button value="list">
      <ion-icon name="list-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="block">
      <ion-icon name="grid-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-refresher slot="fixed" style="--ion-text-color: #fdfaf4;" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline"></ion-refresher-content>
  </ion-refresher>


  <ng-container *ngIf="segmentModel === 'list'">
  <ion-item  *ngFor="let item of listadoConFoto  " routerLink="/producto/{{item.id}}" >
    <ion-card style="width: max-content;height: max-content;margin-left: 0px;margin-right: 0px;">
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
        <ion-card-subtitle style="font-size: large;text-align: center;">{{item.precio}} €</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content style="text-align: center;">
        <ion-slides style="margin-top: 5px;" pager="true" [options]="slideOpts">
          <ion-slide *ngIf="item.imagene1">
            <ion-img  [src]="item.imagene1"  style=" margin-bottom: 3px;min-height: 90px;min-width: 200px;width: 800px;"></ion-img>
            
          </ion-slide>
          <ion-slide *ngIf="item.imagene2">
            <ion-img [src]="item.imagene2"  style=" margin-bottom: 3px;min-height: 90px;min-width: 200px;width: 800px;"></ion-img>
  
          </ion-slide>
          <ion-slide *ngIf="item.imagene3">
            <ion-img [src]="item.imagene3"  style=" margin-bottom: 3px;min-height: 90px;min-width: 200px;width: 800px;"></ion-img>
           
          </ion-slide>
        </ion-slides>
   
      </ion-card-content>
      <ion-button style="color: rgb(255, 242, 242);margin-left: 10px;margin-right: 10px;height: 30px;" expand="full">Ir al producto</ion-button>
    </ion-card>
    <br>
  </ion-item>
 </ng-container>
 <ng-container *ngIf="segmentModel === 'block'">
  <ion-grid fixed>
    <ion-row size="4">
      <ion-col size="6" size-md="6" *ngFor="let item of listadoConFoto  " routerLink="/producto/{{item.id}}">
        <ion-card style="margin-left: 0px;margin-right: 0px; width: 160px;height: 220px;">
          
        
          <ion-card-content style="text-align: center;">
            <p style="  
       
            font-size:12pt;
            overflow:hidden;
            white-space:nowrap;
            text-overflow: ellipsis;" >{{item.name}}</p>
            <p style="font-size: small;font-family: 'Times New Roman', Times, serif;"> {{item.precio}} €</p>
            <ion-slides style="margin-top: 0px;" pager="true" [options]="slideOpts">
              <ion-slide *ngIf="item.imagene1">
                <ion-img  [src]="item.imagene1"  style=" margin-bottom: 2px;min-height: 9px;min-width: 20px;width: 200px;height: 100px;"></ion-img>
                
              </ion-slide>
              <ion-slide *ngIf="item.imagene2">
                <ion-img [src]="item.imagene2"  style=" margin-bottom: 2px;min-height: 9px;min-width: 20px;width: 200px;height: 100px;"></ion-img>
      
              </ion-slide>
              <ion-slide *ngIf="item.imagene3">
                <ion-img [src]="item.imagene3"  style=" margin-bottom: 2px;min-height: 9px;min-width: 20px;width: 200px;height: 100px;"></ion-img>
               
              </ion-slide>
            </ion-slides>
       
          </ion-card-content>
          <ion-button style="color: rgb(255, 238, 238);margin-left: 10px;margin-right: 10px;height: 25px;" expand="full">Ir al producto</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-container>
  <br><br> 
</ion-content>
<br>