<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""    (click)="atras()"></ion-back-button>
    </ion-buttons>
 
  </ion-toolbar>
 
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" style="--ion-text-color: #fdfaf4;" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline"></ion-refresher-content>
  </ion-refresher>
  <ion-button  style="color: black;margin-left: 0px;margin-right: 0px; 
  height: 48px;font-weight: bolder;" expand="full" (click)="presentActionSheet()">Elegir método de pago</ion-button>


  <ng-container *ngIf="category === null">
    <ion-img style="width: 380px;" [src]="imagenPaypal"></ion-img>
    <ion-img style="width: 380px;" [src]="imagenTarjeta"></ion-img>
    
   
  
    <ion-img style="width: 380px;" [src]="imagenEnvio"></ion-img>
  </ng-container>

  
   <!--  Paypal ------------------------

-->
  <ng-container *ngIf="category === 'Paypal'">
 <ion-img style="width: 380px;" [src]="imagenPaypal"></ion-img>
  </ng-container>




<!--    Tarjeta 

------------------------

-->

  <ng-container *ngIf="category === 'Tarjeta'">
    <ion-img style="width: 380px;" [src]="imagenTarjeta"></ion-img>
    <form [formGroup]="form" (ngSubmit)="this.PedidoTarjeta()">
      <ion-item style="margin-top: 15px;margin-left: 10px;margin-right: 10px;">
        <ion-label></ion-label>
        <ion-textarea style="margin-top: 10px;"
        formControlName="tarjeta"
        placeholder="Nº de Tarjeta *"
        autocapitalize="true"
        auto-grow="true"></ion-textarea>
      </ion-item>

      <ion-item style="margin-top: 15px;margin-left: 10px;margin-right: 10px;">
        <ion-label></ion-label>
        <ion-textarea style="margin-top: 10px;"
        formControlName="seguridad"
        placeholder="CVV *"
        autocapitalize="true"
        auto-grow="true"></ion-textarea>
      </ion-item>
      <div style="text-align: center;">
        <ion-button style="margin-top: 22px;height: 50px;width: 200px;"
        shape="round"
        color="primary"
        fill="outline"
        type="submit"
        [disabled]="!form.valid">Ir a pagos</ion-button>
      </div>
    </form>
 

     </ng-container>

     <!--  Bizum ------------------------

-->
     <ng-container *ngIf="category === 'Bizum'">
      <ion-img style="width: 380px;" [src]="imagenBizum"></ion-img>
       </ng-container>


        <!--  Contrarembolso ------------------------

-->
       <ng-container *ngIf="category === 'ContraRembolso'">
        <ion-img style="width: 380px;" [src]="imagenEnvio"></ion-img>
        <div style="text-align: center;">
        <ion-button style="margin-top: 22px;height: 50px;width: 200px;text-align: center;"
        shape="round"
        color="primary"
        fill="outline"
       (click)="this.PedidoCR()">Realizar Pedido</ion-button>
        </div>
         </ng-container>
</ion-content>
