
ion-content {
   
    position: relative;
 
  margin: 0 auto;
  margin-top: 0 auto;
  margin-left: 0 auto;
  display:flex;
justify-content:center !important;
align-content:center !important;
  }

  ion-grid,
  ion-row {
      margin-top: var(--ion-margin, 16px);
  }

  ion-card {
      ion-item:not(:last-child) {
          border-bottom: 1px solid var(--ion-color-medium);
      }
  }
  ion-toolbar {
    --background:#479dff ;
  }