ion-content {
  --background:  rgb(255, 212, 131);
    position: relative;
 
  margin: 0 auto;
  margin-top: 0 auto;
  margin-left: 0 auto;
  display:flex;
justify-content:center !important;
align-content:center !important;
  }

