i{
    
    margin-left: 69%;
    position: relative;
  }
  
  i:before {
  position: relative;
  top: 50%;
      transform: translateX(-30%);
      display: block;
      align-items: flex-end;
  }
  ion-toolbar {
    --background:#479dff ;
  }